
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f397f3;
  margin: 0px;
}

h1, h2, h3, h4, p {
  color: white
}

.search-bar{
  position: sticky;
  /* z-index: 100; */
  text-align: center;
  top: 0;
  width: 100%;
}

p.review  {
margin-left: 100px;
}

.mini-logo {
  width: 100%;
}

.main-logo {
  width:auto;
  /* margin-left: -20px; */
  margin: 10px -20px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Carousel
-------------------------------------------------------------------------------- */

.location-list {
  width: 100%;
  display:block;
  overflow:hidden;
}

.carousel {
  display: block;
  width: 100%;
  height: 320px;
  overflow-x: scroll;
  padding: 10px;
  margin: 0;
  white-space: nowrap; 
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.location-item{
  display: inline-block;
 
  margin: 0 10px;
  
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position:relative;
  border-radius: 20px;
  box-shadow: 0 0 10px #dfdfdf;
}
